<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154720817-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154720817-1');
  </script>

  <meta charset="utf-8">
  <title>The ICC World Test Championship</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/venobox/venobox.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>


<body>


  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#main">ICC<span>WORLD TEST</span>CHAMPIONSHIP</a></h1> -->
      <!-- <a href="#intro" class="scrollto"><img src="{{ url_for('static', filename='img/logo6.png') }}" alt="" title=""></a> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About The Championship</a></li>
            <li><a href="#teams">Participating Teams</a></li>
          <li><a href="#speakers">Point Scoring</a></li>
          <li><a href="#pointstable">Leader Board</a></li>
          <li><a href="#schedule">Match Schedules</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">The ICC<br><span>World Test</span> Championship</h1>
      <p class="mb-4 pb-0">August 2019 - June 2021</p>
      <a href="https://www.youtube.com/watch?v=kS009p9dpGM" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="#about" class="about-btn scrollto">About The World Test Championship </a>
    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="section-header">
            <h2>About The Championship</h2>
              </div>
              {% for i in about %}
            <p>{{ i }}</p>
              {% endfor %}
          </div>
        </div>
      </div>
    </section>

     <!--==========================
      Teams Section
    ============================-->

    <section id="teams" class="section-with-bg">
        <div class="container">
            <div class="col4 ">
             <div class="section-header">
            <h2>Participating Teams</h2>
             </div>

           <div class="row">
             <div class="col-md-4">
                  <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                   <img class="card-img-top img-fluid" src="{{ aus_flag }}" alt="Card image" height="170">
               </div>
                  <div class="card-body">
                    <h5 class="card-title">Australia</h5>
                  </div>
             </div>
             <div class="col-md-4">
                  <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                   <img class="card-img-top img-fluid" src="{{ ban_flag }}" alt="Card image" height="170">
               </div>
                  <div class="card-body">
                    <h5 class="card-title">Bangladesh</h5>
                  </div>
             </div>
             <div class="col-md-4">
                  <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                   <img class="card-img-top img-fluid" src="{{ eng_flag  }}" alt="Card image" height="170">
               </div>
                  <div class="card-body">
                    <h5 class="card-title">England</h5>
                  </div>
             </div>
              <div class="col-md-4">
                  <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                   <img class="card-img-top img-fluid" src="{{ ind_flag  }}" alt="Card image" height="170">
               </div>
                   <div class="card-body">
                    <h5 class="card-title">India</h5>
                  </div>
             </div>
                <div class="col-md-4">
                  <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                   <img class="card-img-top img-fluid" src="{{ nzl_flag }}" alt="Card image" height="170">
               </div>
                     <div class="card-body">
                    <h5 class="card-title">New Zealand</h5>
                  </div>
             </div>
                <div class="col-md-4">
                  <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                   <img class="card-img-top img-fluid" src="{{ pak_flag }}" alt="Card image" height="170">
               </div>
                     <div class="card-body">
                    <h5 class="card-title">Pakistan</h5>
                  </div>
             </div>
                <div class="col-md-4">
                  <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                   <img class="card-img-top img-fluid" src="{{ saf_flag }}" alt="Card image" height="170">
               </div>
                     <div class="card-body">
                    <h5 class="card-title">South Africa</h5>
                  </div>
             </div>
                <div class="col-md-4">
                  <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                   <img class="card-img-top img-fluid" src="{{ sri_flag }}" alt="Card image" height="170">
               </div>
                     <div class="card-body">
                    <h5 class="card-title">Sri Lanka</h5>
                  </div>
             </div>
                <div class="col-md-4">
                  <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                   <img class="card-img-top img-fluid" src="{{ win_flag }}" alt="Card image" height="170">
               </div>
                     <div class="card-body">
                    <h5 class="card-title">West Indies</h5>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>


    <!--==========================
      Point Scoring Section
    ============================-->
    <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
       <!-- <div class="section-header"> -->
          <div class="section-header">
          <h2>Point Scoring</h2>
          </div>
             {% for i in point_scoring %}
            <p>{{ i }}</p>
              {% endfor %}
          <!--<p>Here are some of our speakers</p>-->
        </div>
        </div>
      </div>
    </section>

   <!--==========================
     Point Table Section
    ============================-->
    <section id="pointstable" class="section-with-bg">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-lg-12">
       <!-- <div class="section-header"> -->
         <div class="tab-content row justify-content-center">
         <div class="section-header">
          <h2>Leader Board</h2>
         </div>
           <div class="col-xs-6 table-responsive-xl ">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Team</th>
                    <th scope="col">Series Played</th>
                    <th scope="col"> Series Win</th>
                    <th scope="col">Series Lost</th>
                    <th scope="col">Series Drawn</th>
                    <th scope="col">Matches Played</th>
                    <th scope="col">Matches Won</th>
                    <th scope="col">Matches Lost</th>
                    <th scope="col">Matches Drawn</th>
                    <th scope="col">Matches Tied</th>
                    <th scope="col">PC</th>
                    <th scope="col">Win Percent</th>
                    <th scope="col">Points</th>
                    <th scope="col">RPWR</th>
                  </tr>
               </thead>
                 <tbody>
                    {% for i in data %}
                 <tr>
                    {% for x in i %}
                 <td>{{ x }}</td>
                    {% endfor %}
                 </tr>
                    {% endfor %}
                </tbody>
             </table>
         </div>
       </div>
     </div>
   </div>
 </div>
 </section>



    <!--==========================
      Schedule Section
    ============================-->
    <section id="schedule" class="wow fadeInUp">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Match Schedules</h2>
        <!--  <p>Here is the match schedules</p> -->
        </div>

        <ul class="nav nav-tabs" role="tablist">

          <li class="nav-item">
            <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">2019</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">2019-20</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-3" role="tab" data-toggle="tab">2020</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-4" role="tab" data-toggle="tab">2020-21</a>
          </li>
        </ul>

        <div class="tab-content row justify-content-center">

          <!-- 2019 Matches -->
          <div role="tabpanel" class="col-lg-12 tab-pane fade show active" id="day-1">

                <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ match1_dt }}</th>
                            <th style="width: 50%">{{ match1_scr }}</th>
                            <th style="width: 20%">{{ match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ match2_dt }}</th>
                            <th style="width: 50%">{{ match2_scr }}</th>
                            <th style="width: 20%">{{ match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ match3_dt }}</th>
                            <th style="width: 50%">{{ match3_scr }}</th>
                            <th style="width: 20%">{{ match3_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ match4_dt }}</th>
                            <th style="width: 50%">{{ match4_scr }}</th>
                            <th style="width: 20%">{{ match4_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ match5_dt }}</th>
                            <th style="width: 50%">{{ match5_scr }}</th>
                            <th style="width: 20%">{{ match5_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                <br>
              <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t2match1_team}}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t2match1_dt }}</th>
                            <th style="width: 50%">{{ t2match1_scr }}</th>
                            <th style="width: 20%">{{ t2match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t2match2_dt }}</th>
                            <th style="width: 50%">{{ t2match2_scr }}</th>
                            <th style="width: 20%">{{ t2match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <br>
              <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t3match1_team}}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t3match1_dt }}</th>
                            <th style="width: 50%">{{ t3match1_scr }}</th>
                            <th style="width: 20%">{{ t3match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t3match2_dt }}</th>
                            <th style="width: 50%">{{ t3match2_scr }}</th>
                            <th style="width: 20%">{{ t3match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
         </div>

          <!-- 2019-20 Matches -->
          <div role="tabpanel" class="col-lg-12  tab-pane fade" id="day-2">

              <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t4match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t4match1_dt }}</th>
                            <th style="width: 50%">{{ t4match1_scr }}</th>
                            <th style="width: 20%">{{ t4match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t4match2_dt }}</th>
                            <th style="width: 50%">{{ t4match2_scr }}</th>
                            <th style="width: 20%">{{ t4match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
             <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t4match3_dt }}</th>
                            <th style="width: 50%">{{ t4match3_scr }}</th>
                            <th style="width: 20%">{{ t4match3_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
              <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t5match1_team}}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t5match1_dt }}</th>
                            <th style="width: 50%">{{ t5match1_scr }}</th>
                            <th style="width: 20%">{{ t5match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t5match2_dt }}</th>
                            <th style="width: 50%">{{ t5match2_scr }}</th>
                            <th style="width: 20%">{{ t5match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
              <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t6match1_team}}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t6match1_dt }}</th>
                            <th style="width: 50%">{{ t6match1_scr }}</th>
                            <th style="width: 20%">{{ t6match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t6match2_dt }}</th>
                            <th style="width: 50%">{{ t6match2_scr }}</th>
                            <th style="width: 20%">{{ t6match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t7match1_team}}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t7match1_dt }}</th>
                            <th style="width: 50%">{{ t7match1_scr }}</th>
                            <th style="width: 20%">{{ t7match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t7match2_dt }}</th>
                            <th style="width: 50%">{{ t7match2_scr }}</th>
                            <th style="width: 20%">{{ t7match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t8match1_team}}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t8match1_dt }}</th>
                            <th style="width: 50%">{{ t8match1_scr }}</th>
                            <th style="width: 25%">{{ t8match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t8match2_dt }}</th>
                            <th style="width: 50%">{{ t8match2_scr }}</th>
                            <th style="width: 20%">{{ t8match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t8match3_dt }}</th>
                            <th style="width: 50%">{{ t8match3_scr }}</th>
                            <th style="width: 20%">{{ t8match3_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
              <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t9match1_team}}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t9match1_dt }}</th>
                            <th style="width: 50%">{{ t9match1_scr }}</th>
                            <th style="width: 20%">{{ t9match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t9match2_dt }}</th>
                            <th style="width: 50%">{{ t9match2_scr }}</th>
                            <th style="width: 20%">{{ t9match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t9match3_dt }}</th>
                            <th style="width: 50%">{{ t9match3_scr }}</th>
                            <th style="width: 20%">{{ t9match3_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t9match4_dt }}</th>
                            <th style="width: 50%">{{ t9match4_scr }}</th>
                            <th style="width: 20%">{{ t9match4_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
              <div class="row">
                <div class="col-lg-12">
                      <div><h3><b>{{ t10match1_team}}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t10match1_dt }}</th>
                            <th style="width: 50%">{{ t10match1_scr }}</th>
                            <th style="width: 20%">{{ t10match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t10match2_dt }}</th>
                            <th style="width: 50%">{{ t10match2_scr }}</th>
                            <th style="width: 20%">{{ t10match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
              <div class="row">
                <div class="col-lg-12">
                      <div><h3><b>{{ t11match1_team}}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t11match1_dt }}</th>
                            <th style="width: 50%">{{ t11match1_scr }}</th>
                            <th style="width: 20%">{{ t11match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t11match2_dt }}</th>
                            <th style="width: 50%">{{ t11match2_scr }}</th>
                            <th style="width: 20%">{{ t11match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="row">
                <div class="col-lg-12">
                      <div><h3><b>{{ t12match1_team}}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t12match1_dt }}</th>
                            <th style="width: 50%">{{ t12match1_scr }}</th>
                            <th style="width: 20%">{{ t12match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t12match2_dt }}</th>
                            <th style="width: 50%">{{ t12match2_scr }}</th>
                            <th style="width: 20%">{{ t12match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
          </div>
          <!-- End 2019-20 Matches-->

          <!-- 2020 Matches -->
          <div role="tabpanel" class="col-lg-12  tab-pane fade" id="day-3">

                <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t13match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t13match1_dt }}</th>
                            <th style="width: 50%">{{ t13match1_scr }}</th>
                            <th style="width: 20%">{{ t13match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t13match2_dt }}</th>
                            <th style="width: 50%">{{ t13match2_scr }}</th>
                            <th style="width: 20%">{{ t13match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t14match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t14match1_dt }}</th>
                            <th style="width: 50%">{{ t14match1_scr }}</th>
                            <th style="width: 20%">{{ t14match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t14match2_dt }}</th>
                            <th style="width: 50%">{{ t14match2_scr }}</th>
                            <th style="width: 20%">{{ t14match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t14match3_dt }}</th>
                            <th style="width: 50%">{{ t14match3_scr }}</th>
                            <th style="width: 20%">{{ t14match3_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t15match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t15match1_dt }}</th>
                            <th style="width: 50%">{{ t15match1_scr }}</th>
                            <th style="width: 20%">{{ t15match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t15match2_dt }}</th>
                            <th style="width: 50%">{{ t15match2_scr }}</th>
                            <th style="width: 20%">{{ t15match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t15match3_dt }}</th>
                            <th style="width: 50%">{{ t15match3_scr }}</th>
                            <th style="width: 20%">{{ t15match3_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
              <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t16match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t16match1_dt }}</th>
                            <th style="width: 50%">{{ t16match1_scr }}</th>
                            <th style="width: 20%">{{ t16match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t16match2_dt }}</th>
                            <th style="width: 50%">{{ t16match2_scr }}</th>
                            <th style="width: 20%">{{ t16match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t16match3_dt }}</th>
                            <th style="width: 50%">{{ t16match3_scr }}</th>
                            <th style="width: 20%">{{ t16match3_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t17match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t17match1_dt }}</th>
                            <th style="width: 50%">{{ t17match1_scr }}</th>
                            <th style="width: 20%">{{ t17match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t17match2_dt }}</th>
                            <th style="width: 50%">{{ t17match2_scr }}</th>
                            <th style="width: 20%">{{ t17match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t18match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t18match1_dt }}</th>
                            <th style="width: 50%">{{ t18match1_scr }}</th>
                            <th style="width: 20%">{{ t18match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t18match2_dt }}</th>
                            <th style="width: 50%">{{ t18match2_scr }}</th>
                            <th style="width: 20%">{{ t18match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>

            <!-- End 2020 Matches -->


          </div>
          <!-- 2020-21 Matches -->
             <div role="tabpanel" class="col-lg-12  tab-pane fade" id="day-4">

                 <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t19match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t19match1_dt }}</th>
                            <th style="width: 50%">{{ t19match1_scr }}</th>
                            <th style="width: 20%">{{ t19match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t19match2_dt }}</th>
                            <th style="width: 50%">{{ t19match2_scr }}</th>
                            <th style="width: 20%">{{ t19match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                 <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t20match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t20match1_dt }}</th>
                            <th style="width: 50%">{{ t20match1_scr }}</th>
                            <th style="width: 20%">{{ t20match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t20match2_dt }}</th>
                            <th style="width: 50%">{{ t20match2_scr }}</th>
                            <th style="width: 20%">{{ t20match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                   <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t20match3_dt }}</th>
                            <th style="width: 50%">{{ t20match3_scr }}</th>
                            <th style="width: 20%">{{ t20match3_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                 <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t20match4_dt }}</th>
                            <th style="width: 50%">{{ t20match4_scr }}</th>
                            <th style="width: 20%">{{ t20match4_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t21match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t21match1_dt }}</th>
                            <th style="width: 50%">{{ t21match1_scr }}</th>
                            <th style="width: 20%">{{ t21match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t21match2_dt }}</th>
                            <th style="width: 50%">{{ t21match2_scr }}</th>
                            <th style="width: 20%">{{ t21match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t22match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t22match1_dt }}</th>
                            <th style="width: 50%">{{ t22match1_scr }}</th>
                            <th style="width: 20%">{{ t22match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t22match2_dt }}</th>
                            <th style="width: 50%">{{ t22match2_scr }}</th>
                            <th style="width: 20%">{{ t22match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t22match3_dt }}</th>
                            <th style="width: 50%">{{ t22match3_scr }}</th>
                            <th style="width: 20%">{{ t22match3_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t23match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t23match1_dt }}</th>
                            <th style="width: 50%">{{ t23match1_scr }}</th>
                            <th style="width: 20%">{{ t23match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t23match2_dt }}</th>
                            <th style="width: 50%">{{ t23match2_scr }}</th>
                            <th style="width: 20%">{{ t23match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t23match3_dt }}</th>
                            <th style="width: 50%">{{ t23match3_scr }}</th>
                            <th style="width: 20%">{{ t23match3_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t23match4_dt }}</th>
                            <th style="width: 50%">{{ t23match4_scr }}</th>
                            <th style="width: 20%">{{ t23match4_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t23match5_dt }}</th>
                            <th style="width: 50%">{{ t23match5_scr }}</th>
                            <th style="width: 20%">{{ t23match5_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t24match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t24match1_dt }}</th>
                            <th style="width: 50%">{{ t24match1_scr }}</th>
                            <th style="width: 20%">{{ t24match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t24match2_dt }}</th>
                            <th style="width: 50%">{{ t24match2_scr }}</th>
                            <th style="width: 20%">{{ t24match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
             <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t25match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t25match1_dt }}</th>
                            <th style="width: 50%">{{ t25match1_scr }}</th>
                            <th style="width: 20%">{{ t25match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t25match2_dt }}</th>
                            <th style="width: 50%">{{ t25match2_scr }}</th>
                            <th style="width: 20%">{{ t25match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
               <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t26match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t26match1_dt }}</th>
                            <th style="width: 50%">{{ t26match1_scr }}</th>
                            <th style="width: 20%">{{ t26match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t26match2_dt }}</th>
                            <th style="width: 50%">{{ t26match2_scr }}</th>
                            <th style="width: 20%">{{ t26match2_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t26match3_dt }}</th>
                            <th style="width: 50%">{{ t26match3_scr }}</th>
                            <th style="width: 20%">{{ t26match3_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
             <div class="row">
                  <div class="col-lg-12">
                      <div><h3><b>{{ t27match1_team }}</b></h3></div>
                      <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t27match1_dt }}</th>
                            <th style="width: 50%">{{ t27match1_scr }}</th>
                            <th style="width: 20%">{{ t27match1_rslt }}</th>
                          </tr>
                         </thead>
                        </table>
                      </div>
                  </div>
               </div>
              <div class="col-xs-6">
                        <table class="table table-light">
                         <thead>
                          <tr>
                            <th style="width: 15%">{{ t27match2_dt }}</th>
                            <th style="width: 50%">{{ t27match2_scr }}</th>
                            <th style="width: 20%">{{ t27match2_rslt }}</th>
                            <!--<th style="width: 20%">TBD</th>-->
                          </tr>
                         </thead>
                        </table>
                      </div>

             </div>

        </div>

      </div>

    </section>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

    <div class="container">
      <div class="copyright">
        <!--&copy; Copyright <strong>Mike Hyland</strong>. All Rights Reserved-->
      </div>
      <div class="credits">
          This site is not associated to the ICC in any way and is part of a portfolio featured on
          <a href="https://www.mikehyland.com/">mikehyland.com</a>. This site is not used for commercial purposes
          and falls under fair use. All information and stats are gathered from <a href="https://en.wikipedia.org/wiki/2019%E2%80%9321_ICC_World_Test_Championship">Wikipedia</a>
          using <a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/">Beautiful Soup</a>
          <br>
          <br>
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
        Original Theme Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
    </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/superfish/hoverIntent.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/superfish/superfish.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/venobox/venobox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{{ url_for('static', filename='contactform/contactform.js') }}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
